/* OPTIN */

.main_optin{
  width: 100%;
  background-color: $roxo;
  margin: 40px 0;
}

.main_optin_content{
  max-width: calc($largura - 40px);
  padding: 40px 40px 30px 40px;
  margin: 0 auto;
  display: flex;
}

.main_optin_content header{
  flex-basis: 40%;
}

.main_optin_content form{
  flex-basis: 60%;
}

.main_optin_content header h1, .main_optin_content header p{
  color: #FFF;
  margin-right: 20px;
  text-align: right;
}

.main_optin_content header h1{
  font-size: 1.2em;
  font-weight: 400;
}

.main_optin_content header p{
  font-weight: 300;
  font-size: 0.875em;
}

.main_optin_content form{
  display: flex;
  justify-content: space-between;
}

.main_optin_content form input[type=text], .main_optin_content form input[type=email]{
  flex-basis: 37%;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border: none;
  max-height: 50px;
  padding: 0px 10px;
}

.main_optin_content form button{
  flex-basis: 20%;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  max-height: 50px;
  border: none;
  font-size: 0.875em;
}
