/* MAIN_BLOG */

.main_blog{
  max-width: $largura;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main_blog .main_blog_header{
  flex-basis: 100%;
  margin: 30px 0;
}

.main_blog .main_blog_header h1{
  color: $cinza;
  margin-bottom: 5px;
  font-size: 1.8em;
}

.main_blog article{
  opacity: 0.7;
  flex-basis: calc(15% - 20px);
  margin-bottom: 10px;
  padding-bottom: 15px;
  border-bottom: $azulbk solid 5px;
}

.main_blog article:hover{
  opacity: 1;
}

.main_blog article img{
  width: 100%;
}

.main_blog article p{
  margin: 10px 0; 
  padding: 10px;
}

.main_blog article small{
  margin-bottom: 20px; 
  padding: 10px;
}

.main_blog article .category{
  font-size: 0.875em;
  color: $verde;
}

.main_blog article h2{
  font-weight: 300;
  font-size: 1.2em;
  padding: 10px;
}

.main_blog article h2 a{
  color: #333;
  font-weight: 300;
}
