/* main_reviews */

.main_reviews{
  width: 100%;
  background-image: url(../../_img/divisoriaok.svg);
  background-repeat: no-repeat;
  background-position: center 101%;
  background-size: 100vw;
  position: relative;
}

.main_reviews_content{
  max-width: $largura;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;  
  padding-bottom: 60px;
}

.main_reviews .main_reviews_botao {
  text-align: center;
  margin: 0 auto;
  position: absolute;
  bottom: -20px;
  left: calc(50% - 180px);
  display: block;
  padding: 10px 60px;
  font-size: 1.2em;
  border: #fff solid 5px;
  box-shadow: 5px 10px 10px #888888;
}

.main_reviews .main_reviews_header{
  max-width: $largura;
  padding: 0 20px;
  margin: 30px auto;
  justify-content: space-between;
}

.main_reviews .main_reviews_header h1{
  color: $cinza;
  margin-bottom: 5px;
  font-size: 1.8em;
}

.main_reviews_content article{
  opacity: 0.7;
  flex-basis: calc(33% - 20px);
  margin: 10px;
  padding-bottom: 15px;
}

.main_reviews_content article p{
  margin: 0; 
  padding: 0;
}

.main_reviews_content article small{
  margin-bottom: 20px; 
  padding: 10px;
}

.main_reviews_content article .category{
  font-size: 0.875em;
  color: $verde;
}

.main_reviews_content article h2{
  font-weight: 300;
  font-size: 1.2em;
  padding: 10px;
}

.main_reviews_content article h2 a{
  color: #333;
  font-weight: 300;
}
