/* SCHOOL */

.main_school{
  width: 100%;
}

.main_school_content{
  max-width: $largura;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main_school_header{
  flex-basis: 100%;
  padding: 40px 0;
  color: $verde;
  background: #e9ecef;
  margin: 20px 0;
  border-radius: 5px;
  padding: 20px;
}

.main_school_header h1{
  font-size: 2.2em;
  margin-bottom: 10px;
}

.main_school_content_left{
  flex-basis: calc(67% - 20px);
}

.main_school_content_left_content > header > p{
  padding: 10px 10px;
  background-color: #2D3142;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: #FFF;
  margin-bottom: 20px;
}

.main_school_content_left_content > header > p span{
  margin-left: 20px;
}

.main_school_content_left_content > header > p a{
  color: #FFF;
  font-size: 0.9em;
}

.main_school_content_left_content > header > p a:hover{
  text-decoration: underline;
}

.main_school_content_left_content > header > h2{
  font-size: 1.2em;
  margin-bottom: 20px;
}

.main_school_content_left_content > p{
  margin-bottom: 20px;
}

.main_school_list{
  width: 100%;
  background-color: #EBEBEB;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main_school_list > header{
  flex-basis: 100%;
  color: $roxo;
  margin-bottom: 20px;
}

.main_school_list > article{
  flex-basis: calc(50% - 10px);
  margin: 4px 0;
}

.main_school_list > article h3{
  font-weight: 300;
  font-size: 1em;
}

.main_school_content_right{
  flex-basis: 30%;
}

.main_school_content_right img{
  width: 100%;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.main_school_address{
  text-align: center;
  margin:0 auto;
}

.main_school_address h2{
  font-size: 1.5em;
  margin-bottom: 5px;
}

.main_school_address > header > p{
  padding: 10px 10px;
  background-color: $verde;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: #FFF;
  margin-bottom: 20px;
}

.main_school_address > header > p span{
  margin: 20px;
}

.main_school_address > header > p a{
  color: #FFF;
  font-size: 0.9em;
}

.main_school_address > header > p a:hover{
  text-decoration: underline;
}

.main_school_address > header > h2{
  font-size: 1.2em;
  margin-bottom: 20px;
}

.main_school_address > p{
  margin-bottom: 20px;
}
