
.main_tutor{
  width: 100%;
  background-color: #2D3142;
}

.main_tutor_content{
  max-width: calc(#{$largura} - 80px);
  padding: 40px;
  margin: 0 auto;
  color: #FFF;
  text-align: center;
}

.main_tutor_content > header h1{
  font-size: 2em;
  margin-bottom: 10px;
}

.main_tutor_content_img{
  margin: 20px auto;
}

.main_tutor_content_img img{
  max-width: 200px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  padding: 3px;
  background-color: #FFF;
}

.main_tutor_content_history h2{
  font-size: 1.2em;
  margin-bottom: 20px;
}

.main_tutor_content_history p{
  margin-bottom: 20px;
  padding: 0 20px;
}

.main_tutor_social_network{
  max-width: 800px;
  margin: 0 auto;
  background-color: #D36833;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.main_tutor_social_network > header{
  flex-basis: 100%;
  font-size: 1.2em;
  margin-bottom: 20px;
}

.main_tutor_social_network > article{
  flex-basis: 24%;
}

.main_tutor_social_network > article h3{
  font-size: 0.9em;
  margin-bottom: 10px;
}

.main_tutor_social_network > article h3 a{
  background-color: #FFF;
  color: #D36833;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 10px 20px;
}

.main_tutor_social_network > article h3 a:hover{
  background-color: #2D3142;
  color: #FFF;
}
